ul.job-list li.job-list-item {
    position: relative;
}


.job-list-container {
    position: relative;
    width: auto;
}

.line-courve {
    position: absolute;
    top: 12px;
    left: -31px;
    width: 25px;
    height: 1px;
    background-color: #9ca3af99;
    &::after{
        content: '';
        position: absolute;
        top: -4px;
        left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        z-index: 1;
    }
}


.company-img {
    translate: -5px;
    margin-right: -5px;
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 3px;
    border: 1px solid #9ca3af99;
}

ul.job-list li:last-child .job:last-child::after {
    height: 15px;
}

.job{
    &::after {
        content: '';
        width: 1px;
        height: 118%;
        background-color: #9caaaf99;
        position: absolute;
        top: -5px;
        left: -32px;
        z-index: -1;
        transition: height .5s ease;
    }
}

.description{
    transition: all .8s;
}

.skills {
    transition: all .8s;
    padding: 1rem 0rem;
}

.skills div:first-of-type {
    transition: all .4s;

}

.job:hover .skills {
    transition: all .5s;
}

.job:hover .skills div:first-of-type {
    transition: opacity .8s;
    opacity: 1;
}
